<!DOCTYPE html>
<html xmlns:th=http://thymeleaf.org 
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Ciclos</title>
</head>
<body>

<a th:href="@{/ciclos/formCiclo/}" class="btn btn-warning">Nuevo ciclo</a>

<table class="table table-striped table-bordered">
	<thead class="thead-Light">
		<tr>
			<th>ID</th>
			<th>Nombre</th>
			<th>Tipo</th>
			<th>Acciones</th>
		</tr>
	</thead>
	
	<tbody th:each="ciclo: ${ciclos}">
		<tr>
			<th th:text=${ciclo.id}></th>
			<th th:text=${ciclo.nombre}></th>
			<th th:text=${ciclo.tipo}></th>
			<th> 
				<a th:href="@{/ciclos/formCiclo/} + ${ciclo.id}" class="btn btn-warning">Editar</a>
				<a th:href="@{/ciclos/delete/} + ${ciclo.id}" class="btn btn-warning">Borrar</a>
			</th>
		</tr>		
	</tbody>

</table>

</body>
</html>