<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Login</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" th:href="@{/static/assets/favicon.ico}" />
        <!-- Bootstrap icons-->
         <link href="webjars/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<a class="btn btn-primary" th:href="@{/}">Volver</a>

<div class="row justify-content-center">
    <div class="col-xl-6">
    	<div class="text-center">
<body>

<nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <div sec:authorize ="isAuthenticated()" class="nav-item">
		        	<form class="form-inline" th:action="@{/logout}" method="post">
						<button class="btn btn-link" type="submit">Logout</button>
					</form>
		        	
					<div><i class="bi bi-person-circle"></i> <span sec:authentication="name"></span></div>
		        </div>
		        <div sec:authorize ="!isAuthenticated()" class="nav-item">
                	<a class="btn btn-primary" th:href="@{/auth/login}">Iniciar sesion</a>
                	<a class="btn btn-primary" th:href="@{/auth/registerForm}">Registrarse</a>
                </div>
            </div>
            <div sec:authorize ="isAuthenticated()" class="nav-item">
            <a class="btn btn-primary" th:href="@{/user/index}">Perfil</a>
            </div>
            
        </nav>

<div th:switch="${users}">
    <h2 th:case="null">No users yet!</h2>
        <div th:case="*">
            
            <table class="table table-bordered">
  					<thead class="table-dark">
                    <tr>
                    	<th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col" >Apellido</th>
                        <th scope="col">Activo</th>
                        <th scope="col">Email</th>  
                        <th scope="col">Telefono</th>
                        <th scope="col">Ciclo</th>
                        <th scope="col">Acciones</th>
             
                    
                    </tr>
                </thead>
                <tbody>
           
	                <tr th:each="user : ${users}">
	                    <td th:text="${user.id}"></td>
	                    <td th:text="${user.nombre}"></td>
	                    <td th:text="${user.apellidos}"></td>
	                    <td th:text="${user.activo}"></td>
	                    <td th:text="${user.email}"></td>
	                    <td th:text="${user.telefono}"></td>
	                    <td th:text="${user.ciclo_id}"></td>
	                    <td>
	                    	<a class="btn btn-primary" th:href="@{/user/activate/{id}(id=${user.id})}">Activar</a>
	                    	<a class="btn btn-primary" th:href="@{/user/deactivate/{id}(id=${user.id})}">Desactivar</a>
	                   	 	<a class="btn btn-primary" th:href="@{/user/delete/{id}(id=${user.id})}">Delete</a>
	                    	
	                    </td>
	                </tr>
          
            </tbody>
        </table>
    </div>      
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script th:src="@{/static/js/scripts.js}"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</div>
</div>
</div>
</html>