<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Inscritos</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" th:href="@{/static/assets/favicon.ico}" />
        <!-- Bootstrap icons-->
         <link href="webjars/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>

<nav th:replace="Base :: nav"></nav>

<header >
            <div class="container px-lg-5">
                <!-- Page Features-->
                <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                
                
                <table class="table table-bordered">
  					<thead class="table-dark">
  	<form action="#" th:action="@{/inscritos/inscritosFecha}">
  		<div class="container px-lg-5">			
  		<label for="start">Fecha inicial:</label>

		<input type=date id="d1" name="d1"
       value="2022-01-01"
       min="2022-01-01" max="2999-12-30">
       <label for="start">Fecha final:</label>




		<input type=date id="d2" name="d2"
       value="2022-01-02"
       min="2022-01-02" max="2999-12-31">
        <input type="submit" class="btn btn-primary">
       </div>
      
      </form>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Oferta</th>
			<th scope="col">Usuario</th>
			<th scope="col">Fecha de inscripcion</th>
		</tr>
	</thead>
	
	<tbody th:each="inscrito: ${inscritos}">
		<tr>
			<th th:text=${inscrito.id}></th>
			<th th:text=${inscrito.oferta.titular}></th>
			<th th:text=${inscrito.usuario.nombre}></th>
			<th th:text=${inscrito.fecha_inscripcion}></th>
		</tr>
	</tbody>

</table>
                   
                </div>
            </div>
                <div class="row gx-lg-5">                   
                    
                </div>
            </div>
        </header>


<footer th:replace="Base :: footer"></footer>

<!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        
</body>
>