<!DOCTYPE html>
<html>
<head th:replace="Base :: head"></head>
<body>

<nav th:replace="Base :: nav"></nav>


<header class="masthead">
            <div class="container px-lg-5">
                <!-- Page Features-->
                <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                
                
                <table class="table table-bordered">
  					<thead class="table-dark">
		<tr>
			<th scope="col">Titulo</th>
			<th scope="col">Descripcion</th>
			
		</tr>
	</thead>
	
	<tbody th:each="noticia: ${noticias}">
		<tr>
			<th th:text=${noticia.titulo}></th>
			<th th:text=${noticia.descripcion}></th>
			<th> 
				<a th:href="@{/noticias/formNoticia/} + ${noticia.id}" class="btn btn-primary">Editar</a>
				<a th:href="@{/noticias/delete/} + ${noticia.id}" class="btn btn-primary">Borrar</a>
			</th>
		</tr>
	</tbody>

</table>
                
                    
                </div>
            </div>
                <div class="row gx-lg-5">                   
                    
                </div>
            </div>
        </header>


<footer th:replace="Base :: footer"></footer>
</body>
</html>