<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Ciclos</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" th:href="@{/static/assets/favicon.ico}" />
        <!-- Bootstrap icons-->
         <link href="webjars/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>

<nav th:replace="Base :: nav"></nav>

<a th:href="@{/ofertas/formOferta/}" class="btn btn-primary">Crear oferta</a>

<header class=>
                
                
                <table class="table table-bordered">
  					<thead class="table-dark">
		<tr>
			<th scope="col">Titulo</th>
			<th scope="col">Descripcion</th>
			<th scope="col">Requisitos</th>
			<th scope="col">Candidatos</th>
			<th scope="col">Fecha maxima</th>
			<th scope="col">Acciones</th>
		</tr>
	</thead>
	
	<tbody th:each="oferta: ${ofertas}">
		<tr>
			<th th:text=${oferta.titular}></th>
			<th th:text=${oferta.descripcion}></th>
			<th th:text=${oferta.requisitos}></th>
			<th th:text=${oferta.numCandidatos}></th>
			<th th:text=${oferta.fechamax}></th>
			<th>
				<a th:href="@{/ofertas/formOferta/} + ${oferta.id}" class="btn btn-primary">Editar</a>
				<a th:href="@{/ofertas/deleteU/} + ${oferta.id}" onclick="return confirm('¿Desea borrar esta oferta?')" class="btn btn-primary">Borrar</a>
			</th>
		</tr>
	</tbody>

</table>
                
             
        </header>


<footer th:replace="Base :: footer"></footer>
</body>
</html>