<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Ciclos</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" th:href="@{/static/assets/favicon.ico}" />
        <!-- Bootstrap icons-->
         <link href="webjars/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>

<nav th:replace="Base :: nav"></nav>

<a th:href="@{/ofertas/listOfertasCaducadas}" class="btn btn-primary">Ver ofertas caducadas</a>

<header >
            <div class="container px-lg-5">
                <!-- Page Features-->
                <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                
                
                <table class="table table-bordered">
  					<thead class="table-dark">
		<tr>
			<th scope="col">Titulo</th>
			<th scope="col">Descripcion</th>
			<th scope="col">Requisitos</th>
			<th scope="col">Candidatos</th>
			<th scope="col">Fecha maxima</th>
			<th scope="col">Acciones</th>
		</tr>
	</thead>
	
	<tbody th:each="oferta: ${ofertas}">
		<tr>
			<th th:text=${oferta.titular}></th>
			<th th:text=${oferta.descripcion}></th>
			<th th:text=${oferta.requisitos}></th>
			<th th:text=${oferta.numCandidatos}></th>
			<th th:text=${oferta.fechamax}></th>
			<th>
			<div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')') }">
				<a th:href="@{/ofertas/delete/} + ${oferta.id}" onclick="return confirm('¿Desea borrar esta oferta?')" class="btn btn-primary">Borrar</a>
			</div>
				<div th:if="${#authorization.expression('hasRole(''ROLE_RRHH'')') }">
					<a th:href="@{/ofertas/listAlumnos/} + ${oferta.id}" class="btn btn-primary">Alumnos</a>
				</div>
			</th>
		</tr>
	</tbody>

</table>
                   
                </div>
            </div>
                <div class="row gx-lg-5">                   
                    
                </div>
            </div>
        </header>


<footer th:replace="Base :: footer"></footer>

<!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        
</body>
</html>